*{
    margin: 0px;
    padding: 0px;
}
body{
    border: solid 0px;
    height: 50x;
    background-image: url(bg2.avif);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
}
form{
    border: solid 0px white;
    margin-left:1000px;
    width: 600px;
    margin-top: 10px;
    padding-left: 10px;
    }
    label{
        color: azure;
                font-size: 15px;
    }
    h1{
        color: white;
        font-size: 40px;
        text-align: left;
    }
    input{
        height: 15px;
        width: 200px;
    }
    button{
        height: 30px;
        width: 100PX;
        background-color: aliceblue;
        color: lightcoral;
        font-size: 20PX ;
        font-weight:bold;
        border-radius:20px;
}
p{
    color: wheat;
    font-size: 20px;
}
p a{
    color: blanchedalmond;
    font-size: 35px;
}