*{
    margin: 0px;
    padding: 0px
}
#out{
border: solid 1px;
height: 650px;
background-image: url(bg1.jpg);
background-repeat: no repeat;
background-size: 1300px 650px;
}
h1{
    color: peachpuff;
    font-size: 80px;
    margin-top: 130px;
    margin-left: 300px;
}
#register,#login{
    height: 30px;
    width: 80px;
    background-color: bisque;
}
#register{
    margin-left: 450px;
}
#register a,#login a{
    color: black;
    font-size: 21px;
    text-decoration: none;
}
#register:hover{
    background-color: skyblue;
}
#login:hover{
    background-color:skyblue;
}